[submodule "packages/akgentic-template"]
	path = packages/akgentic-template
	url = git@github.com:b12consulting/akgentic-template.git
[submodule "packages/akgentic-infra"]
	path = packages/akgentic-infra
	url = git@github.com:b12consulting/akgentic-infra.git
[submodule "packages/akgentic-frontend"]
	path = packages/akgentic-frontend
	url = git@github.com:b12consulting/akgentic-frontend.git
